<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info Salud | Bastard</title>
        <meta name="description" content="Información de salud de Bastard. Te informamos acerca de todo lo que consumís y sus efectos en tu organismo">
        <meta name="keywords" content="panaderia, bastard, información, salud, masa, 'masa madre', madre, mermelada, medialunas, manteca, margarina, industria, procesados, químicos, orgánico, orgánicos, 'productos orgánicos'">
        <link rel="icon" href="../resources/images/cropped-Diseño-sin-título-8-1-32x32.png">
        <link rel="stylesheet" href="../libraries/font-awesome5.14.min.css">
        <link rel="stylesheet" href="../libraries/bootstrap.min.css">
        <link rel="stylesheet" href="../libraries/animate.min.css">
        <link rel="stylesheet" href="../css/styles.css">

    </head>

    <body>
        <header>
            <div class="menu-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg justify-content-lg-around">
                        <div>
                            <a class="d-flex justify-content-center justify-content-lg-start" href="../index.html">
                                <img src="../resources/images/bastpng-300x91.png" alt="LOGO" width="200px">
                            </a>
                        </div>
                        <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="./productos.html">Productos</a></li>
                                <li class="nav-item active"><a id="active-link" href="./info_salud.html">Info Salud</a></li>
                                <li class="nav-item active"><a href="./por_que_bastard.html">¿Por qué Bastard?</a></li>
                                <li class="nav-item active"><a href="./nosotros.html">Nosotros</a></li>
                                <li class="nav-item active"><a href="./contacto.html">Contacto</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="portada">
                <div class="portada-img">
                    <img src="../resources/images/imagen-portada2.jpg" alt="imagen-portada2" width="100%" height="107%">
                </div>
                <h1 class="portada-titulo">¿Sabés qué tan saludable es lo que comés?</h1>
            </div>
        </header>
        <main>
            <!--PRELOADER-->
            <div class="preloader-container">
                <div class="preloader-item"></div>
                <div>
                    <span><i class="fas fa-box-open cubo1"></i></span>
                    <span><i class="fas fa-box-open cubo2"></i></span>
                    <span><i class="fas fa-box-open cubo3"></i></span>
                </div>
            </div>
            <div class="info-salud-content container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around">
                <div class="d-flex align-items-center flex-column wow animate__animated animate__fadeInLeftBig">
                    <img src="https://via.placeholder.com/300x300?text=Imagen1" alt="Imagen1">
                    <div class="seccion-texto d-flex flex-column align-items-center">
                        <h2>Productos orgánicos</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A minima, aliquam culpa laborum est numquam dolor, error dignissimos odit itaque perferendis eum tempore iusto maxime blanditiis atque odio ab hic?</p>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-column wow animate__animated animate__fadeInRightBig">
                    <img src="https://via.placeholder.com/300x300?text=Imagen2" alt="Imagen2">
                    <div class="seccion-texto d-flex flex-column align-items-center">
                        <h2>Nuestra mermelada</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A minima, aliquam culpa laborum est numquam dolor, error dignissimos odit itaque perferendis eum tempore iusto maxime blanditiis atque odio ab hic?</p>
                    </div>
                </div>
            </div>
            <div class="info-salud-content container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around">
                <div class="d-flex align-items-center flex-column wow animate__animated animate__fadeInLeftBig">
                    <img src="https://via.placeholder.com/300x300?text=Imagen3" alt="Imagen3">
                    <div class="seccion-texto d-flex flex-column align-items-center">
                        <h2>Masa Madre</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quas iste itaque perferendis ea totam autem voluptatum magnam vitae reprehenderit, inventore quisquam repellat libero distinctio accusantium, aperiam natus deleniti dolorum.</p>
                    </div>
                </div>
                
                <div class="d-flex align-items-center flex-column wow animate__animated animate__fadeInRightBig">
                    <img src="https://via.placeholder.com/300x300?text=imagen4" alt="Imagen4">
                    <div class="seccion-texto d-flex flex-column align-items-center">
                        <h2>Margarina y Manteca</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, obcaecati. Soluta assumenda consectetur natus asperiores quia. Sunt magni doloremque tenetur doloribus asperiores fugiat? Eius beatae consectetur aperiam esse, voluptas tempore.</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="info-salud-end-container d-flex flex-column flex-lg-row justify-content-center wow animate__animated animate__bounceInUp">
                    <div class="d-flex justify-content-center">
                        <img src="https://via.placeholder.com/300x300?text=imagen5" alt="Imagen5">
                    </div>
                    <div class="seccion-texto d-flex flex-column align-self-center ">
                        <h2>Industria moderna</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat necessitatibus ullam possimus voluptate molestiae voluptatem veritatis. Illo excepturi repellat minima expedita atque ullam libero? Eaque hic voluptates nemo commodi fugiat nihil mollitia earum ipsa necessitatibus numquam, perspiciatis, fuga libero delectus, magnam ea explicabo error magni nobis optio veritatis deserunt nam fugit vero aspernatur. Hic sequi sapiente provident, odio dolore architecto, at nemo animi doloribus quae rerum, accusamus nam eius voluptate ut omnis autem qui? Voluptatum consequatur ducimus et officiis earum!</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="pie-de-pagina wow animate__animated animate__slideInUp">
            <div class="container">
                <nav class="d-flex justify-content-around">
                    <div class="d-none d-lg-block">
                        <h3>Productos</h3>
                            <ul>
                                <li><a href="./productos.html">White Box</a></li>
                                <li><a href="./productos.html">Black Box</a></li>
                                <li><a href="./productos.html">Blue Box</a></li>
                                <li><a href="./productos.html">Bread Box</a></li>
                            </ul>
                    </div>
                    <div class="d-none d-md-block">
                        <h3 class="nosotros">Nosotros</h3>
                        <ul>
                            <li><a href="./nosotros.html">Equipo</a></li>
                            <li><a href="./contacto.html">Empresas</a></li>
                            <li><a href="./contacto.html">¿Querés trabajar con nosotros?</a></li>
                            <li><a href="./contacto.html">¿Querés ser nuestro proveedor?</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Contacto</h3>
                            <ul>
                                <li><a href="https://www.instagram.com/bastard.pandeverdad/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</a></li>
                                <li><a href="https://wa.me/5491156327705" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i>Whatsapp</a></li>
                                <li><a href="https://www.linkedin.com/company/bastardpan" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>
                            </ul>
                    </div>
                </nav>
                <div class="footer-copyright">
                    <p>
                        Copyright © 2020 Bastard
                    </p>
                </div>
            </div>
        </footer>
        <div class="go-top-container">
            <div class="go-top-button">
               <i class="fas fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
        <script src="../js/jquery-3.5.1.slim.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/main.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script>new WOW().init();</script>
    </body>
</html>