.pie-de-pagina {
    background-color: map-get($other-colors, white);
    margin: 0;
    margin-top: 20px;
    padding: 30px 0;
    
    h3{
        font-size: 1.562rem;
        margin: 0;
        padding: 0 7px;
        border-left: 3px solid #363636;
        border-right: 3px solid #363636;
        border-radius: 8px;
    }
    .nosotros{width: 40%;}
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        a{
            color: map-get($other-colors, brown );
            font-size: 1.25rem;
            text-decoration: none;
            transition: all .3s ease;
            &:hover{color: lighten($color: map-get($other-colors, brown), $amount: 20)}
        }
        i {margin-right: 5px;}
    }
  }
  
  .footer-copyright{
      margin-top: 20px;
      p:before{
        display: inline-block;
        width: 20%;
        content: " ";
        border: 1px solid #c5a47e;
        transform: translateY(-4px);
        @media (max-width: 530px){
            width: 7%;
        }
      }
      
      p{
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      p:after{
        display: inline-block;
        width: 20%;
        content: " ";
        border: 1px solid #c5a47e;
        transform: translateY(-4px);
        @media (max-width: 530px){
            width: 7%;
        }
        }
  }
  