/* Fuentes */ 
@font-face{
  font-family: 'poppins';
  font-display: swap;
  src: url(../resources/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face{
  font-family: 'Saira Stencil One';
  font-display: swap;
  src: url(../resources/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf);
} 
/* Body */
body {
  background-color: map-get($colors, secondary);
  padding: 0;
  margin: 96.66px 0 0 0;
  font-family: $main-font;
}

/* propiedades globales del sitio */

.portada{
  max-height: 600px;
  overflow: hidden;
  .portada-titulo{
      animation-duration: 2s;
      animation-name: portada-titulo;
      background-color: get-opacity(black, .5);
      color: map-get($colors, primary);
      display: inline-block;
      font-family: $main-font-tittle;
      font-size: calc(2rem + 2vw);
      letter-spacing: 2px;
      margin: 0;
      transform: translate(10px, -520px);
      width: auto;
  }
  .portada-titulo.nosotros-tit{
    font-size: calc(3rem + 2vw);
    transform: translate(400px, -320px);
    @media (max-width: 768px){
      transform: translate(4px, -320px)
    }
  }
  @keyframes portada-titulo {
    0% { opacity: 0;}
    100% {opacity: 1;}
  }
  .portada-img{
    height: 600px;
    overflow: hidden;
    width: 100%;
  }
}

.seccion-texto{
  color: map-get($colors, primary);
  text-align: center;
  width: 330px;
  h2{
      font-size: 1.5rem;
      font-weight: bold;}
  p{ 
      font-size: 1rem;
      color: lighten($color: map-get($colors, primary), $amount: 5);
      margin-top: 25px;
  }
}

