/* Fonts */ 
$main-font: 'poppins', sans-serif;
$main-font-tittle: 'Saira Stencil One', cursive;

/* Font sizes */
$font-size-base: 16px !default;

/* Colors */

/*color text */
$black-ponele: #212529;
$color-text-base: #fda05e;
$color-text-base-p: #fdb079;
$color-text-menu-link-hoverandactive: #cc7742;
$color-text-main-span: #ffbb8b;
$color-text-main-span-hover: #f6e6b2;
$color-text-footer-link: #452b11;
$color-text-footer-link-hover: #bd7b52;
$color-form-button: #cc7741;
$color-form-button-hover: #cc6220;
$color-section-gracias: #2f152c;
$color-section-gracias-hover: #110910;

/* background color */

$background-color-body: #2f152c;
$background-color-menu: #0e060d;
$background-color-footer: #f6e6b2;
$background-color-go-top: #e9c988;
$background-color-portada-titulo: #00000069;
$background-color-button-orange-hover: #b47040;
$background-color-advertencia-productos: #4c364a;
$background-color-por-que-bastard-section-nosotros-tittle: #271124;
$background-color-form-button: #3a1536;
$background-color-form-button-hover: #140713;

