/* Fonts */ 
$main-font: 'poppins', sans-serif;
$main-font-tittle: 'Saira Stencil One', cursive;

/* Font sizes */
$font-size-base: 16px !default;

/* Colors */

$colors: (
    primary: #fda05e,
    secondary: #2f152c,
    color-menu: #0e060d
);

$other-colors: (
    white: #f6e6b2,
    black: #333333,
    brown: #452b11,
    light-violet: #4c364a,
);

//Mixins

@mixin b-button($b-colors...) {
    .b-button{
    border: 0;
    border-radius: 10px;
    display:inline-block;
    font:{
        family: 'poppins', sans-serif;
        size: 1.175rem;
    }
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    &-#{nth($b-colors, 1)}{
        background-color: map-get($colors,nth($b-colors, 1));
    }
    @if length($b-colors) > 1 {
        @for $i from 2 through length($b-colors) {
            &-#{nth($b-colors, $i)} {
                background-color: map-get($colors,nth($b-colors, $i));
            }
        }
    }
    }
}

//Funciones
@function get-opacity($color, $opacidad){
    @return rgba($color, $opacidad);
}


// Clases pre armadas

@include b-button(map-keys($colors)...);

.b-button-color-menu{
    border: 2px solid map-get($colors, color-menu);
    color: map-get($colors, primary);
    &:hover{
        color: lighten($color: map-get($colors, primary), $amount: 5);
        border: 2px solid map-get($colors, primary);
        text-decoration: none;
    }
}
